{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Watchlist</h2>

    {% for listing in listings%}
    {% if listing.status == 1 %}
    {% if listing.id in watchlist %}

<div class="container" style="min-width: 2000px;">
    <div class="text-center">
        <a href="{% url 'one' listing.id%}"><h2> {{ listing.title }}</h2></a>
    </div>
    <div class="row lg-faded">
        <div class="col-lg-4">
            <div class="card card-body h-100 justify-content-center">
                <img src="{{listing.image}}" class="card-img" alt="...">
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card card-body h-100 justify-content-right">
                <h4>Description</h4>
                <p>{{ listing.description }}</p>
                <h4>Category : {{ listing.category.categoryName }}</h4>
            </div>
        </div>
        <div class="col-lg-2">
            {% if listing.id in watchlist %}
                <div class="card card-body h-100 justify-content-top">
                    <a href="{% url 'removeFromWatchlist' listing.id%}" style="text-align: right;"><button type="button" class="btn btn-primary btn-lg">Remove form watchlist</button></a>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <h3>Price:</h3>

                    {% if listing.id in price %}
                        {% for bid in bids %}
                            {% if listing.id == bid.listing_id.id %}
                            <h1>$ {{ bid.bid }}</h1>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <h1>$ {{ listing.price }}</h1>
                    {% endif %}

                </div>
            {% endif %}

        </div>
    </div>
</div>
          {% endif %}
          {% endif %}
          {% endfor %}



{% endblock %}